@charset "UTF-8";

@media screen and (min-width: 768px) {

    main {
        grid-template-columns: auto 300px 1fr auto;
    }

    section#ficha {
        grid-column: 2 / 3;
        height: fit-content;
        position: sticky;
        top: 70px;
    }

    #ficha h2 {
        font-size: 2vw;
    }

    #detalhes {
        grid-column: 3 / 4;
    }

    #ski {
    grid-column: 3;
    }
}