@charset "UTF-8";

@media screen and (min-width: 700px){
    #td {
        grid-template-columns: 1fr 1fr;
    } 
}

@media screen and (min-width: 768px){

    .videocont iframe {
        max-height: 450px;
        max-width: 1000px;
    }

    #destalhes {
        height: 60vw;
        max-height: 550px;
    }

    .projeto {
        flex-direction: row-reverse;
        justify-content: space-between;
        max-height: 250px;
    }

    .projeto .foto {
        height: 20vw;
        width: 20vw;
        margin-left: 20px;
        max-height: 200px;
    }

}    