@charset "UTF-8";

@media screen and (min-width: 768px) {
    #container {
        grid-template-columns: 30px 300px 1fr 30px;
    }

    #ficha {
        grid-column: 2 / 3;
    }

    #detalhes {
        grid-column: 3;
    }

    #ski {
        grid-column: 3;
    }

    #forma {
        grid-column: 3;
    }

    #projetos {
        grid-column: 3;
    }

}

@media screen and (min-width: 1200px) {

}