@charset "UTF-8";

:root {
    --fundo-principal: #f5f5f5;
    --texto: #222222;
    --destaque: #0077ff;
    --destaque-inverso: #66bbff;
    --fundo-card: #ffffff;
    --texto-inverso: #ffffff;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--fundo-principal);
}

header {
    padding: 10px;
    background-color: var(--destaque);
    color: var(--texto);

    position: sticky;
    top: 0px;
    z-index: 1000;

    display: flex;
    justify-content: flex-end;
    align-content: center;
}


#menu ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

#menu a {
    text-decoration: none;
    color: var(--texto-inverso);
    font-weight: 600;
    padding: 11px 15px;
    border-radius: 5px;
}

#menu a:hover {
    background-color: var(--destaque-inverso);

    transition: .1s;
}



main {
    display: grid;
    grid-template-columns: auto 90vw auto;
    gap: 30px;
    padding-top: 30px;
    grid-template-rows: auto; 
}

#detalhes {
    grid-column: 2;
    border-radius: 10px;
}



#ficha {
    grid-column: 2;
    background-color: var(--fundo-card);
    border-radius: 10px;
    padding: 15px;
}

#ficha h2 {
    color: var(--destaque);
    text-align: center;
    margin: 10px;
}

#ficha p {
    text-align: justify;
}

#social {
    padding: 10px;

    display: flex;
    justify-content: center;
    gap: 30px;
}

#social a {
    color: #0077ff;
}

.foto {
    width: 200px;
    aspect-ratio: 1/1;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid var(--fundo-card);
    outline: 5px solid var(--destaque);
    display: block;
    margin: auto;
    margin-top: 10px;
}



#video {
    background-color: var(--fundo-card);
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 20px;
}

#video h2 {
    color: var(--destaque);
    margin-bottom: 10px;
}

.videocont {
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
    margin: auto;
    max-height: 370px;
}

.videocont iframe {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}



#ski {
    background-color: var(--fundo-card);
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 20px;

}

#ski h2 {
    color: var(--destaque);
    margin-bottom: 20px;
}

.containertd {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

.containertd .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.containertd .nome {
    color: var(--texto);
    font-weight: bold;
    font-size: 3.4vh;
}

.containertd .por {
    color: var(--destaque);
    font-weight: bold;
    font-size: 3.4vh;
}

.containertd .barra {
    width: 100%;
    height: 8px;
    background-color: var(--fundo-principal);
    border-radius: 10px;
}

.containertd .proge {
    height: 100%;
    background-color: var(--destaque-inverso);
    border-radius: 10px;
}



#forma {
    background-color: var(--fundo-card);
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 10px;
}

#forma h2 {
    color: var(--destaque);
}




#projetos {
    background-color: var(--fundo-card);
    border-radius: 10px;
    padding: 10px;
}
