<<<<<<< HEAD
@charset "utf-8";
body {
            background-color: lightsteelblue;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
}
h1 {
            color: yellow;
            background-color: lightblue;
    }

h2{
            color: brown;
        }
p {
            text-align: justify;
=======
@charset "utf-8";
body {
            background-color: lightsteelblue;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
}
h1 {
            color: yellow;
            background-color: lightblue;
    }

h2{
            color: brown;
        }
p {
            text-align: justify;
>>>>>>> d081cea2bc29d54a6daac1d885aab5bfecd2c862
}