body {
            margin: 0px 0px 0px 0px;
        }

        header {
            background-color: black;
            padding: 70px;
            text-align: center;
        }

        header > h1 {
            color: white;
            margin: 0px;
            font-size: 8vw;
        }

        header > p {
            color: white;
            margin: 0px;
            margin-top: 13px;
        }

        a {
            color: white;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        span {
            color: rgba(255, 255, 255, 0.568);
        }

        main {
            margin-top: 80px;
            margin-bottom: 80px;
        }

        section {
            padding-top: 10vh;
            padding-bottom: 10vh;
        }

        section#container {
            position: relative;
            padding: 10px;
            margin-top: 80px;
            margin-bottom: 80px;

            background-image: url(imagens/ladybug-3475779_1280.jpg);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }

        #conteudo {
            position: absolute;
            color: white;
            background-color: rgba(0, 0, 0, 0.349);

            margin-top: 70px;
            margin-bottom: 70px;
            margin-left: 25px;
            padding-right: 70px;
            font-size: 3.5vw;
        }

        #conteudo > p {
            padding-top: 5px;
            padding-bottom: 5px;
            margin-left: 25px;
            margin-bottom: 2vw;
            margin-top: 2vw;
            font-weight: bold;
        }

        .responsivo {
            font-size: 3.5vw;
        }

        .responsivo > p {
            padding-top: 5px;
            padding-bottom: 5px;
            margin-left: 25px;
            margin-bottom: 2vw;
            margin-top: 2vw;
            font-weight: bold;
        }